* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lastSection {
  padding: 100px 0 80px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.lastSection h2 {
  font-size: 40px;
  font-weight: 300;
  list-style: 110%;
  letter-spacing: -2%;
  color: #030303;
  font-family: "EB Garamond", serif;
}
