* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.conteiner {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ebc1ae;
  padding: 20px 50px;
}
