* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menuHR {
  width: 100%;
  background-color: black;
  height: 1px;
}

.menuBox {
  display: flex;
  flex-direction: column;
  /* padding: 30px 0 60px 0; */
}

.article,
.entrees,
.sharing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0 60px 0;
}

.menuTiTle {
  color: #222222;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -2%;
}

.menuSummer {
  color: #222222;
  font-family: "EB Garamond", serif;
  font-style: italic;
}

.menuText,
.menuTextTiTle {
  color: #222222;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 135%;
  letter-spacing: -2%;
}

.startSecondBox {
  display: flex;
  justify-content: space-between;
}

.halfBox {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
  /* justify-content: end; */
}

.priceBox {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 16px;
  padding-bottom: 30px;
}

.entrees {
}

.price {
  text-align: right;
}
