* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.sectionBox {
  display: flex;
  justify-content: space-between;
}

.btnBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-right: 70px;
}
.btns {
  display: flex;
  gap: 10px;
}

.timeBox {
  width: 50%;
}

.heroTitle {
  color: #030303;
  font-family: "EB Garamond", serif;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -2%;
}

.heroBg {
  height: 500px;
  background-image: url(../../image/hero.png);
    background-size: cover;
    background-position: center;
}


/* @media (max-width: 799px) {
.heroBg {
     background-image: url(../../image/hero3.png);
    height: 500px;}
} */