@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 50px;
}

.headerName {
  font-family: "East Sea Dokdo", sans-serif;
  font-size: 150px;
  font-weight: medium;
  line-height: 110%;
  letter-spacing: -10%;
}

.headerList {
  list-style: none;
}

.headerLinks {
  text-decoration: none;
  padding: 0 4px;
  font-family: "EB Garamond", serif;
  color: #030303;
  font-size: 34px;
  font-weight: medium;
  line-height: 110%;
  letter-spacing: -10%;
}

.headerLine{
    width: 100%;
    height: 1px;
    border: 2px solid #837676;
    display: none;
}

/* @media (max-width: 799px) {
header{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
 
}
.headerLine{
    display: block;
    margin-top: 10px;}
  } */
