* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-image: url(../../image/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  background-color: red;
}
